%icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.has-icon > svg {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.sort-icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAKCAYAAACE2W/HAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHtJREFUeNpiZGBgUARiIQbSwDsmIPEIiH+RoAmk9hFI418gfkCCRpDav8xIpoDYPAQ0vQTiNyAGE5LgUyD+jkfTd6gaBnSN/4H4PpRGBxhyzGgK/gDxPyDmQxMH2fQBWYAJhz8+I/E/Q8UYCGmEhxwZIQ4GQvgSBkCAAQA64SBqLVSB8wAAAABJRU5ErkJggg==);
}
