.theme-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.page-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('backgroundColor');
  }
}

.container {
  width: 100%;
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

.container-fluid {
  @extend .container;
  max-width: 100%;
}

.main {
  flex: 1 1 auto;
}

.link-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 40px;
  width: 40px;
  color: $green;
  border: none;
  background-color: transparent;
  transition: transform .3s ease;

  &:hover {
    transform: scale(1.1) translateY(-10px);
  }
}
