.theme-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.page-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('backgroundColor');
  }
}

.container {
  width: 100%;
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

.container-fluid {
  @extend .container;
  max-width: 100%;
}

.main {
  flex: 1 1 auto;
}
