.login-container {
  justify-content: center;
  align-items: center;
  background-image: url(../../../public/img/login-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}

.login-title {
  margin-bottom: 30px;
  font-weight: normal;
}

.login-form {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 22px;
  backdrop-filter: blur(20px);
  @media (min-width: $breakpoint-tablet) {
    backdrop-filter: none;
  }
}