@font-face {
  font-family: 'Poppins-Light';
  src: url('../../assets/fonts/Poppins-Light/Poppins-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../../assets/fonts/Poppins-Medium/Poppins-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../../assets/fonts/Poppins-Regular/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('../../assets/fonts/Poppins-SemiBold/Poppins-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url('../../assets/fonts/Poppins-ExtraBold/Poppins-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}