$themes: (
  light: (
    backgroundColor: $white,
    textColor: $black,
    textSubcolor: $dark-gray,
    iconColor: $gray,
    cartBorderColor: $black,
    cartBgColor: $white
  ),
  dark: (
    backgroundColor: $black,
    textColor: $white,
    textSubcolor: $light-gray,
    iconColor: $light-gray,
    cartBorderColor: $white,
    cartBgColor: $black
  )
)
